<!doctype html>
<html>
<head>
    <!-- Version <%= get_version %> -->
    <title><% app_name %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= app_name %>">


    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/logo.png">
    <script>
        window.APP_VERSION = "<%= get_version %>";
        var load = function(){
            require(['require','app'],function (require) {
                //Notice the space between require and the arguments.
                window.app = require ('app');
                app.init();
            });
        }
    </script>
    <%= stylesheet_tag main_css %>

</head>
<body onload="load()">
    <center>
        <div class="top">
            <div class="top-container">
                <div class="ip">
                    TS3: ts.diquemc.com
                </div>
                <div class="ip">
                    IP: mc.diquemc.com
                </div>
                <div class="logo">
                    <a href="#"><img src="assets/logo.png"/></a>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="header-container">

            </div>
        </div>
        <div class="image"></div>
        <div class="social fb">
            <a href="https://www.facebook.com/DiqueMC?ref=hl" target="_blank">
                <img src="assets/fb.png">
            </a>
        </div>
        <div class="container"></div>
    </center>
    <%= javascript_tag main_js %>
</body>
</html>